<div class="jumbotron">
	<h1>Welcome to my first App!</h1>
	<p>
		You found the home page of
		<%= link_to "Onet.pl", "http://onet.pl" %>
	</p>
	<p>
		<%= link_to "Sign Up now!", "#", class: "btn btn-primary btn-large", role: "button" %>
	</p>
</div>